* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fuzzy Bubbles", sans-serif;
}

body {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT868B-MxfbErBiTqViy1aF4VLk4eErR7hqsg&s");
  background-size: 150px 150px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 20px;
}

.heading {
  border-radius: 50px;
  font-size: 3rem;
  margin-top: 90px;
  text-align: center;
  color: red;
  padding: 15px;
  letter-spacing: 2px;
}

.container {
  margin-top: 100px;
  width: 90%;
  max-width: 900px;
  height: 300px;
  padding: 20px;
  background-color: rgba(255, 255, 0, 0.75);
  border-radius: 30px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.box {
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.btn {
  margin-top: 20px;
  height: 43px;
  width: 160px;
  color: #ffffff;
  font-weight: 900;
  background-color: black;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
  position: relative;
}

.btn:hover {
  background-color: red;
  color: #ffffff;
  box-shadow: 2px 2px 15px rgb(255, 255, 255);
  transition: all 300ms ease;
}

.joke {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 20px;
  margin-top: 10px;
  text-align: center;
}

@media (max-width: 768px) {
  .heading {
    font-size: 3.5rem;
    margin-top: 60px;
    padding: 10px;
    font-weight: 900;
  }

  .container {
    width: 100%;
    padding: 15px;
    border-radius: 20px;
    margin-top: 60px;
  }

  .box {
    margin: 10px;
  }

  .btn {
    height: 40px;
    width: 140px;
    font-size: 0.9rem;
  }

  .joke {
    font-size: 1.5rem;
    margin: 15px;
  }
}

@media (max-width: 480px) {
  .heading {
    font-size: 2rem;
    margin-top: 20px;
  }

  .container {
    padding: 10px;
  }

  .btn {
    width: 130px;
    height: 38px;
    font-size: 0.85rem;
  }

  .joke {
    font-size: 1.2rem;
  }
}
